@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Quicksand';
}
body
{
  background-color: black;
  color: white;
  font-size: 1.5em;
  display:flex;
  justify-content: center;
  align-items: center;
}

.main-section
{
  margin-top: 20%;
  padding: 10px;
  border: 2px solid rgba(124, 104, 238, 0.494);
  background-color: rgba(43, 50, 82, 0.254);
  border-radius: 10px;
  min-height: 40vh;
  min-width: 70%;
  width: auto;
}

h1{
  font-weight: 300;
  margin: 0;
}

form
{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.task-input
{
  background-color: transparent;
  border: none;
  border-bottom: 1px whitesmoke solid;
  min-width: 50%;
  color: wheat;
}

input:focus-visible
{
  outline: none;
  border-bottom: 2px solid whitesmoke;
}

.add-task-button
{
  position: relative;
  border: 1px solid transparent;
  background-color: rgba(96, 124, 148, 0.448);
  color: white;
  font-size: 1.3em;
  border-radius: 50%;
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  padding: 20px;
}

.add-task-button:hover, .add-task-button:focus
{
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0 0 0 10px rgba(18, 56, 181, 0.494);
  color: rgb(82, 103, 172);
  transition: all .5s;
}

.task-container
{
  margin-top:2rem;
}

.task-div
{
  display: flex;
  justify-content: flex-start;
  font-size: .7em;
  width: 100%;
}

.checkbox{
  position: relative;
}

.delete-mark
{
  position: relative;
  height:25px;
  width: 25px;
  color: red;
  rotate: 45deg;
  font-size: 1.5em;
}
